---

---
<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Arvin Air</title>
	<link rel="stylesheet" href="main.css">
	<link rel="shortcut icon" href="favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{% include header.html %}
	
	{% include Landing.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script>
	$('#navbar').addClass('invisible')
	$('#left-half').addClass('expand')
	$('#right-half').addClass('expand')
	$(document).ready(function(){
		$('#navbar-button').click(function(){
			$('#navbar').toggleClass("visible invisible")
			$('#navbar-button').toggleClass("visible invisible")
			$('#left-half').toggleClass("compress expand")
			$('#right-half').toggleClass("compress expand")
		});
	});
	$(document).ready(function(){
		$('#button-close').click(function(){
			$('#navbar').toggleClass("visible invisible")
			$('#navbar-button').toggleClass("visible invisible")
			$('#left-half').toggleClass("compress expand")
			$('#right-half').toggleClass("compress expand")
		});
	});
	</script>
</body>

</html>