---
---

<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Arvin Air</title>
	<link rel="stylesheet" href="{{ site.github.url }}/assets/css/information.css">
	<link rel="shortcut icon" href="favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="wrapper">
	{% include header.html %}

	{% include information.html%}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ site.github.url }}/assets/js/jquery.fittext.js"></script>

	<script>
	$('#navbar').addClass('invisible')
	$('#left-half').addClass('expand')
	$('#right-half').addClass('expand')
	$(document).ready(function(){
		$('#navbar-button').click(function(){
			$('#navbar').toggleClass("visible invisible")
			$('#navbar-button').toggleClass("visible invisible")
			$('#wrapper').toggleClass("compress expand")
		});
	});
	$(document).ready(function(){
		$('#button-close').click(function(){
			$('#navbar').toggleClass("visible invisible")
			$('#navbar-button').toggleClass("visible invisible")
			$('#wrapper').toggleClass("compress expand")
		});
	});
	</script>

	<script>
		$("#title").fitText(2.5, {maxFontSize: '30px' });
		$("#landing-image").fitText(1.5, {maxFontSize: '48px' });
		$("#labels").fitText(4.5, {maxFontSize: '48px', minFontSize: '10px' });
	</script>
</div>
</body>