<section>
	<div id="landing-image">
		<h2>THE ARVIN ENGINEERING ADVANTAGE</h2>
	</div>
	<style>
		#landing-image{
			background-image: url({{ site.github.url }}/assets/img/installation.jpg)
		}
	</style>
	<div id="info">
		<ul>
			<h3>Mechanical Ventilation to Solve Indoor Air Quality</h3>
			<li>Never install exhaust systems without considering the impact on building heating systems</li>
			<li>Consider the general exhaust while the lowest initial initial fixed cost is the highest energy cost</li>
			<li>Always opt for localized exhaust to minimize the extraction of conditioned air</li>
			<h3>Managing Building Internal Pressures</h3>
			<li>Avoid creating high negative pressures within building</li>
			<li>Always verify actual air flows so that minimum total air volume is extracted</li>
			<li>Always consider wind effects on the building when designing ventilation systems</li>
			<h3>Managing Building Internal Pressures</h3>
			<li>Perimeters of buildings that are too cold can often be solved by addressing the deficiencies in the ventilation system</li>
			<li>Realize most buildings have 1-2 naturally occurring air changes per hour</li>
		</ul>
	</div>
</section>