<section>
	<div id="landing-image">
		<h2>ENERGY CONSERVATION</h2>
		<div id="labels">
			<ul>
				<li>The Arvin Advantage</li>
			</ul>
		</div>
	</div>
	<style>
		#landing-image{
			background-image: url(/assets/img/conservation.jpg)
		}
	</style>
	<div id="paragraph">
		<ul>
			<li><h3>Case Study:Pollard Windows Saves $68,000 in Two Years</h3></li>
			<li><h3>Pollard's Problem</h3></li>
			<li>The 53 stand alone unit heaters were controlled by individual thermostats. The plant manager endured complaints from shop personnel of temperature fluctuations, caused by adjusting thermostats resulting in overheating & higher energy costs.</li>
			<li><h3>Our Solution</h3></li>
			<li>The Arvin Air System’s team linked 53 unit heaters in 4 separate buildings and allocated them to specific zones. All of the unit heaters are now controlled by a keypad in the plant manager’s office. This system enables the plant manager to set and monitor temperatures in all areas of the facility and configure setback times.</li>
			<li><h3>The Result</h3></li>
			<li>Employees comfort is enhanced and plant temperature fluctuations are minimized. Also, in two years Pollard Windows saved over $68,000 in natural gas expenditures.</li>
		</ul>
	</div>
</section>