<header>
	<span><h1>ARVIN AIR SYSTEMS</h1></span>
	<div id="logo">
	</div>
	<div id="navbar">
		<ul>
			<div id="button-close">
				<li><a href="#" class="width">X</a></li>
			</div>
			<li><a href="index.html" class="width">HOME</a></li>
			<li><a href="about-page.html" class="width">ABOUT US</a></li>
			<li><a href="contact-page.html" class="width">CONTACT US</a></li>
		</ul>
		<div id="bottom-logo">
		<p>905-643-6744 | 331 Glover Road, Stoney Creek,ON</p>
		</div>
	</div>
	<div id="navbar-button">
			<span></span>
			<span></span>
			<span></span>
	</div>
</header>