<section>
	<div id="landing-image">
		<h2>INSTALLATION</h2>
		<div id="labels">
			<ul>
				<li>The Arvin Advantage</li>
			</ul>
		</div>
	</div>

	<style>
		#landing-image{
			background-image: url({{ site.github.url }}/assets/img/installation.jpg)
		}
	</style>

	<div id="info">
		<ul>
			<li>Our team consists of engineers, licensed technicians and systems analysts</li>
			<li>Design is done in-house by Professional Engineers</li>
			<li>Arvin Air offers flexible scheduling around production schedules and operation times</li>
			<li>We install and service energy conservation systems, including computerized central monitoring systems and DCC controls</li>
			<li>Arvin Air improves the indoor air quality of offices or plant, enabling more comfortable and productive employees</li>
			<li>We offer air balancing services for accurate commissioning of the HVAC equipment installation. Air balancing allows for more even temperature distribution throughout your office or plant</li>
			<li>Qualified personnel are licensed natural gas pipe fitters, refrigeration and sheet metal technicians</li>
		</ul>
	</div>
	<div id="list">
		<h2>Arvin Air Systems' Core Competencies in Installation and Servicing of HVAC Equipment:</h2>
		<ul>
			<li>Rooftop package</li>
			<li>Infra-red Heating Systems</li>
			<li>Central Chilled Water Systems</li>
			<li>Process Cooling</li>
			<li>(De)Humidification</li>
			<li>Gas/Electric Heating</li>
			<li>Heat Recovery</li>
			<li>Make-up Air Systems</li>
			<li>Exhaust Systems</li>
			<li>Filtration</li>
			<li>Computerized Monitoring Systems</li>
			<li>Energy Conservation Systems</li>
			<li>Dust Collection Systems</li>
			<li>Electric Pneumatic Controls</li>
			<li>Customized Duct Air Distribution Systems</li>
		</ul>
	</div>
</section>
