<section>
	<div id="landing"> 
		<h2>Commercial & Industrial HVAC Solutions</h2>
		<p>We have been heating,venting, air conditioning (HVAC) contractors since 1972.We specialize in the installation and service of HVAC equipment in the industrial/commercial sector of the greater Hamilton, Burlington, Oakville and Grimbsy area.</p>
	</div>
	<div id="icons">
		<i class="fa fa-fire fa-5x" aria-hidden="true"></i></i>
		<i class="fa fa-snowflake-o fa-5x" aria-hidden="true"></i>
		<i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
	</div>
	<div id="text">
		<ul>
			<li> Heating    </li>
			<li>Cooling</li>
			<li>Sheet Metal</li>
		</ul>
	</div>
</section>
