<section>
	<div id="landing-image">
		<h2>MAINTENANCE</h2>
		<div id="labels">
			<ul>
				<li>The Arvin Advantage</li>
			</ul>
		</div>
	</div>
	<style>
		#landing-image{
			background-image: url({{ site.github.url }}/assets/img/maintenance.jpg)
		}
	</style>
	<div id="info">
		<ul>
			<li>We have on-call service available 24 hours per day, 7 days a week</li>
			<li>Arvin Air is committed to 30 minutes reaction time when production is affected</li>
			<li>We offer same day “fix the problem the first time” service</li>
			<li>Arvin Air offers pressure washing which is the most important preventative maintenance function for equipment reliability and energy savings</li>
			<li>All of our technicians are licensed, knowledgeable and experienced in the industrial and commercial sector. Some technicians have been with us since Arvin Air’s inception in 1972</li>
			<li>Our agreements provide your company with priority service, and a continuous improvement maintenance program enabling energy savings and reducing emergency breakdowns</li>
			<li>A maintenance and/or energy savings agreements can be planned, scheduled and monitored entirely by Arvin Air personnel</li>
			<li>Arvin Air provides an annual written report of all services performed at your facility. All work orders and recommendations are kept on file to enable quick reference</li>
		</ul>
	</div>
</section>