<section>
	<div id="landing-image">
		<h2>SHEET METAL</h2>
		<div id="labels">
			<ul>
				<li>The Arvin Advantage</li>
			</ul>
		</div>
	</div>
	<style>
		#landing-image{
			background-image: url({{ site.github.url }}/assets/img/sheet_metal.jpg)
		}
	</style>
	<div id="info">
		<ul>
			<li>Our sheet metal technicians are licensed and knowledgeable in the industrial and commercial sector with over 3 decades of experience</li>
			<li>Arvin Air Systems’ technicians fabricate and install customized air distribution systems</li>
			<li>Sheet metal fabrication is done in-house for maximum quality control and quicker turn-around time</li>
			<li>Design of the duct distribution systems are done by our professional engineers</li>
			<li>Arvin Air offers flexible scheduling around your facility’s production and operation schedule</li>
			<li>We offer air balancing services for accurate commissioning of the HVAC equipment installation. Air balancing allows for more even temperature distribution throughout your office or plant</li>
			<li>Arvin Air can troubleshoot and correct temperature and airflow deficiencies in existing ductwork</li>
		</ul>
	</div>
</section>